{% load staticfiles %}
{% load i18n %}
    <div class="navbar navbar-fixed-top main-nav">
        <div class="navbar-inner">
            <div class="container-fluid ">                        
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class=""><a href="#"  class="dw-spinner dw-ajax main-menu-link" data-filter="sub-menu-dashboard" ><i class="icon-home icon-expand"></i> Dashboard</a></li>
                        <li class=""><a href="#"  class="dw-spinner dw-ajax main-menu-link" data-filter="sub-menu-cuenta" ><i class="icon-wrench icon-expand"></i> Cuenta</a></li>
                        <li class=""><a href="#"  class="dw-spinner dw-ajax main-menu-link" data-filter="sub-menu-sistema" ><i class="icon-cogs icon-expand"></i> Sistema</a></li>

                        <!-- menu Produccion modo full-->
                        <li class=""><a href="#"  class="dw-spinner dw-ajax main-menu-link" data-filter="sub-menu-produccion" ><i class="icon-cogs icon-expand"></i> Mi Módulo</a></li>
                        <!-- menu Produccion modo full-->

                        <!-- menu Reportes modo full-->
                        <li class=""><a href="#"  class="dw-spinner dw-ajax main-menu-link" data-filter="sub-menu-produccion-reportes" ><i class="icon-book icon-expand"></i> Reportes</a></li>
                        <!-- menu Reportes modo full-->

                    </ul>
                </div>
            </div>                    
        </div>
    </div> 

    <div id="sub-menu-dashboard" class="subnav hidden">
        <ul class="nav nav-pills">
            <li class=""><a href="/mod_backend/dashboard/"  class="dw-ajax dw-spinner" ><i class="icon-home icon-expand"></i> Dashboard</a></li>
        </ul>
    </div>

    <div id="sub-menu-cuenta" class="subnav hidden">
        <ul class="nav nav-pills">
            <li class=""><a href="{% url 'association_edit_current' %}"  class="dw-ajax dw-spinner" ><i class="icon-lock icon-expand"></i> Asociación</a></li>


            <li class=""><a href="/space/enterprise/index/"  class="dw-ajax dw-spinner" ><i class="icon-sitemap icon-expand"></i> Empresas</a></li>


            <li class=""><a href="/space/enterprise/edit_current/"  class="dw-ajax dw-spinner" ><i class="icon-briefcase icon-expand"></i> Empresa</a></li>

            <li class=""><a href="/space/headquart/index/"  class="dw-ajax dw-spinner" ><i class="icon-sitemap icon-expand"></i> Sedes</a></li>

            <li class=""><a href="/sad/user/index/"  class="dw-ajax dw-spinner" ><i class="icon-users icon-expand"></i> Usuarios</a></li>
        </ul>
    </div>

    <div id="sub-menu-sistema" class="subnav hidden">
        <ul class="nav nav-pills">

            <li class=""><a href="{% url 'resource_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-lock icon-expand"></i> Recursos</a></li>
            <li class=""><a href="{% url 'group_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-group icon-expand"></i> Perfiles</a></li>
            <li class=""><a href="{% url 'group_permissions_edit' %}"  class="dw-ajax dw-spinner" ><i class="icon-group icon-expand"></i> Permisos</a></li>
            <li class=""><a href="{% url 'module_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-exchange icon-expand"></i> Módulos</a></li>

            <li class=""><a href="{% url 'solution_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-exchange icon-expand"></i> Soluciones</a></li>

            <li class=""><a href="{% url 'module_plans_edit' %}"  class="dw-ajax dw-spinner" ><i class="icon-exchange icon-expand"></i> Planes</a></li>

            <li class=""><a href="/sad/menu/index/"  class="dw-ajax dw-spinner" ><i class="icon-exchange icon-expand"></i> Menús </a></li>

            <!--
            <li class=""><a href="/backend_manager/sistema/acceso/listar/"  class="dw-ajax dw-spinner" ><i class="icon-exchange icon-expand"></i> Accesos</a></li>
            <li class=""><a href="/backend_manager/sistema/auditoria/"  class="dw-ajax dw-spinner" ><i class="icon-eye-open icon-expand"></i> Auditorías</a></li>
            <li class=""><a href="/backend_manager/sistema/backup/listar/"  class="dw-ajax dw-spinner" ><i class="icon-hdd icon-expand"></i> Backups</a></li>
            <li class=""><a href="/backend_manager/sistema/mantenimiento/"  class="dw-ajax dw-spinner" ><i class="icon-bolt icon-expand"></i> Mantenimiento</a></li>

            
            
           
            

            
            <li class=""><a href="/backend_manager/sistema/usuario/listar/"  class="dw-ajax dw-spinner" ><i class="icon-user icon-expand"></i> Usuarios</a></li>
            <li class=""><a href="/backend_manager/sistema/sucesos/"  class="dw-ajax dw-spinner" ><i class="icon-filter icon-expand"></i> Visor de sucesos</a></li>
            <li class=""><a href="/backend_manager/sistema/configuracion/"  class="dw-ajax dw-spinner" ><i class="icon-wrench icon-expand"></i> Sistema</a></li>
        -->
        <li class=""><a href="{% url 'locality_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-expand"></i> Localities</a></li>
        </ul>
    </div>

    <!-- menuItems Produccion modo full-->
    <div id="sub-menu-produccion" class="subnav hidden">
        <ul class="nav nav-pills">
            <li class=""><a href="#"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-wrench"></i> Localities2</a></li>
            <li class=""><a href="#"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-wrench"></i> ggg</a></li>
        </ul>
    </div>
    <!-- fin menuItems Produccion modo full-->

    <!-- menuItems Reportes modo full-->
    <div id="sub-menu-produccion-reportes" class="subnav hidden">
        <ul class="nav nav-pills">
            <li class=""><a href="{% url 'locality_report' %}"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-wrench"></i> Registro de localidades</a></li>
            
        </ul>
    </div>
    <!-- fin menuItems Reportes modo full--> 
