{% extends request.is_ajax|yesno:"base_ajax.html,base_authenticated.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    {% load notify %}
    {% get_notify request %}
    <style type="text/css">
    .tab-pane { min-height: 200px;}
    </style>

    <script type="text/javascript">
    $(function () {

        $('#form').on("submit", f=function() {
            if (confirm("¿Está seguro enviar esta información?")==true)
            {
                return true;
            }
            return false;
        });

    });
    </script>
    <div class="account-container-signup">
        <div class="content clearfix">
        <div class="page-header">
            <h4>{{ page_module }} | <small>{{ page_title|safe }}</small></h4>
            Registro para agregar nueva asociación y nueva empresa.<br>
            Para pertenecer a una asociación existente, pida al administrador de la asociación que le agregue.
        </div>
        <form action="" method="post" id="form" class="js-confirm dw-validate js-remote dw-form form-vertical" data-to="dw-shell-content" name="form" confirm-title="ee" confirm-body="aaa">
	       {% csrf_token %}

           <ul class="nav nav-tabs">
                    <!--
            <li class="active"><a href="#tab1" data-toggle="tab">Información personal</a></li>
            -->
                <li class="active"><a href="#tab2" data-toggle="tab">Información de la cuenta</a></li>
                <li><a href="#tab3" data-toggle="tab">Cargar imagen</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab2">

                
                
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">{% trans "EMPRESA" %}<span class="req"> *</span></label>
                            <input id="enterprise_name" name="enterprise_name" type="text" value="{{ d.enterprise_name }}" class="field text input-xlarge input-required mask-alphanum show-error" required="required">
                            <p class="help-block"> <span class="help-error" id="err_enterprise_name"></span></p>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">{% trans "RUC" %}<span class="req"> *</span></label>
                            <input id="enterprise_tax_id" name="enterprise_tax_id" type="text" value="{{ d.enterprise_tax_id }}" class="field text input-xlarge input-required mask-pint show-error" required="required">
                            <p class="help-block"> <span class="help-error" id="err_enterprise_tax_id"></span></p>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">{% trans "ASOCIACION" %}<span class="req"> *</span></label>
                            <input id="association_name" name="association_name" type="text" value="{{ d.association_name }}" class="field text input-xlarge input-required mask-alphanum show-error" required="required">
                            <p class="help-block"> <span class="help-error" id="err_association_name"></span></p>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">{% trans "TIPO ORGANIZACION" %}<span class="req"> *</span></label>
                            <select id="association_type_a" name="association_type_a"  class="field select input-xlarge input-required input-list show-errors" required="required">
                                    <option value=""></option>
                                    {% for key,value in type_a_list %}
                                        <option value="{{ key }}" {% if d.association_type_a == key %} selected {%endif%}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <p class="help-block"> <span class="help-error" id="err_association_type_a"></span></p>
                        </div>
                    </div>
                </div>


                <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                <label class="control-label">{% trans "PLAN" %}<span class="req"> *</span></label>
                                <select id="solution_id" name="solution_id"  class="field select input-xlarge input-required input-list show-errors" required="required">
                                    <option value=""></option>
                                    {% for s in solution_list %}
                                        <option value="{{ s.id }}" {% if d.solution == s %} selected {%endif%}>{{ s.name }}</option>
                                    {% endfor %}
                                </select>
                                <p class="help-block"> <span class="help-error" id="err_solution_id"></span></p>
                            </div>
                        </div>
                        
                 
                </div>

            </div>

            <div class="tab-pane" id="tab3">

                <div class="row fileupload-buttonbar">

                    <div class="span2">
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i>
                            <span>Seleccionar fotografía...</span>
                            <input id="fotografia" type="file" name="fotografia" class="input-large">
                        </span>
                    </div>

                    <div id="upload-progress" class="span4 fileupload-progress fade">
                        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="bar" style="width:0%;"></div>
                        </div>
                    </div>

                    <div class="span5 dw-text-right">
                        <div class="span5 dw-picture-profile dw-text-center dw-text-middle dw-shadow-dark" style="margin-top: 5px">
                            <img src="{% static 'img/upload/personas/default.png' %}" alt="Imágen de muestra"  id="img-persona" />                        </div>
                    </div>

                </div>

                

            </div>

            <div class="row-fluid">

                        <div class="span6">
                            <div class="control-group">
                                
                                <input id="acept_term" name="acept_term" type="checkbox" value="ok" class="field checkbox input-xlarge input-required show-error" required="required"/>

                                {% trans "Acepto los términos de uso y plíticas de privacidad" %}
                                <p class="help-block"> <span class="help-error" id="err_acept_term"></span></p>
                            </div>
                        </div>

                </div>

            <div class="row-fluid">

                <div class="form-actions">
                    

                    <button type="submit" class="btn btn-success dw-text-bold" title="Guardar registro">
                    	<i class="btn-icon-only icon-save"></i> <span class="hidden-phone">{% trans "AGREGAR NUEVA EMPRESA" %}</span>
                    </button>

                    <a href="{% url 'choice_headquart' %}"  class="btn dw-spinner dw-ajax btn-danger dw-text-bold" title="Cancelar operación">
                        <i class="btn-icon-only icon-ban-circle"></i> <span class="hidden-phone">{% trans "CANCEL" %}</span>
                    </a>

                 </div>
             </div>
             </div>
        </form>
        </div>
    </div>
{% endblock content %}
