{% extends request.is_ajax|yesno:"base_ajax.html,base_mimodulo.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/tb/docs.css' %}">
    <link rel="stylesheet" href="{% static 'js/google-code-prettify/prettify.css' %}">
    <!-- trabajar con sidebar-->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <div class="subnav2">
                <ul class="nav nav-list bs-docs-sidenav">
                    <li class=""><center><img src="{% static 'img/1.jpg' %}" alt="PROJECT"  style="height: 110px;" /></center></a></li>
                    </p>
                   <center>
            <a href="{% url 'locality_index' %}"  class="btn btn-small btn-primary"><i class="icon-search"></i>Cambiar foto</a>
                  </center>  
                                        
                    <h5><center> Grupo: {{ camelido.grupo }}  -   Nro Arete: {{ camelido.codigo_arete }}</center></h5>
                    </p>
                    <h6><center>Sexo : {{ camelido.sexo }}</center></h6>
                    
                    <li class=""><a href="{% url 'locality_index' %}"  class="dw-ajax dw-spinner subnav2"><i class="icon-chevron-right"></i> Información</a></li>
                    <li class=""><a href="{% url 'locality_index' %}"  class="dw-ajax dw-spinner subnav2"><i class="icon-chevron-right"></i> Editar datos</a></li>

                </ul>

            </div>
        </div>
        <div id="dw-shell-content2" class="span9">
            {% block content2 %}
                <p>Para el contenido del menú sidebar</p>
            {% endblock content2 %}
        </div>
    </div>

    <script type="text/javascript">              
        $(document).ready(function() {
            //Activa el submenú2 actual
            $('.subnav2 a').on('click', function(){
                este = $(this);
                $(".subnav2 li").removeClass('active');
                //$(".main-menu-link").parent().removeClass('active');
                este.parent().addClass('active');
                //$('.main-nav-arrow').addClass('active');
                //este.parents('div.subnav').removeClass('hidden');
                //$(this).parent().addClass("main-nav-arrow");
            });
        });
        
        $(function() { 
            $("[rel=tooltip]").tooltip();
        });
    </script>
{% endblock content %}