{% load staticfiles %}
{% load i18n %}
    <div class="hidden-desktop">
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown" >Dashboard<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="/backend_manager/dashboard/"  >Dashboard</a></li>
                    </ul>
                </li>
                
                <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown" >Cuenta<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="/backend_manager/config/empresa/"  >Empresa</a></li>
                        <li class=""><a href="/backend_manager/config/sucursal/listar/"  >Sucursales</a></li>
                    </ul>
                </li>
                
                <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown" >Sistema<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="/backend_manager/sistema/acceso/listar/"  >Accesos</a></li>
                        <li class=""><a href="/backend_manager/sistema/auditoria/"  >Auditorías</a></li>
                        <li class=""><a href="/backend_manager/sistema/backup/listar/"  >Backups</a></li>
                        <li class=""><a href="/backend_manager/sistema/mantenimiento/"  >Mantenimiento</a></li>
                        <li class=""><a href="/backend_manager/sistema/menu/listar/"  >Menús</a></li>
                        <li class=""><a href="/backend_manager/sistema/perfil/listar/"  >Perfiles</a></li>
                        <li class=""><a href="{% url 'locality_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-expand"></i> Localities</a></li>
                        <li class=""><a href="{% url 'locality_index' %}"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-expand"></i> Tipos</a></li>
                        <li class=""><a href="/backend_manager/sistema/recurso/listar/"  >Recursos</a></li>
                        <li class=""><a href="/backend_manager/sistema/usuario/listar/"  >Usuarios</a></li>
                        <li class=""><a href="/backend_manager/sistema/sucesos/"  >Visor de sucesos</a></li>
                        <li class=""><a href="/backend_manager/sistema/configuracion/"  >Sistema</a></li>
                    </ul>
                </li>

                <!-- menu Produccion modo phone-->
                <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown" >Mi Módulo<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!-- menuItems Produccion modo phone-->
                        <li class=""><a href="#"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-expand"></i> Localities2</a></li>
                        <li class=""><a href="#"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-expand"></i> ggg</a></li>
                        
                        <!-- fin menuItems Produccion modo phone-->
                    </ul>
                </li>
                <!-- fin menu Produccion modo phone-->

                <!-- menu Reportes modo phone-->
                <li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown" >Reportes<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!-- menuItems Reportes modo phone-->
                        <li class=""><a href="{% url 'locality_report' %}"  class="dw-ajax dw-spinner" ><i class="icon-magic icon-expand"></i> Registro de localidades</a></li>

                        <!-- fin menuItems Reportes modo phone-->
                    </ul>
                </li>
                <!-- fin menu Reportes modo phone-->

            </ul>            
        </div>
    </div><!-- fin contenedor menú-->